body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}
.nav__link{
    display: block;
    padding: 30px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}
.nav__link:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
#app{
    margin: 2rem;
    line-height: 1.5;
    font-weight: 500;
}
a {
    color: #009579;
}